@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, p {
    line-height: 1.2;
    margin-bottom: 10px;
}

header {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 6px;
    padding: 8px 26px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.navbar ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    margin-left: 12px;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    flex: 2;
}

.image {
    color: #e5e7eb;
    background-color: darkgray;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.section-one {
    display: flex;
    gap: 26px;
    height: 400px;
    align-items: center;
}