@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 6px;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.section-one h1, .section-one p {
    line-height: 1.2;
    margin-bottom: 10px;
}

.section-two h2 {
    color: #1f2937;
    font-weight: bold;
    font-size: 36px;
    margin: 10px auto;
    padding: 36px;
}

.section-two p {
    color: #7e7f81;
    /* width: 160px; */
    text-align: center;
}

.section-two {
    height: 500px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.navbar ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    margin-left: 12px;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    flex: 3;
}

.image {
    color: #e5e7eb;
    background-color: darkgray;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.section-one {
    display: flex;
    gap: 26px;
    height: 500px;
    align-items: center;
}

.box {
    /* width: 160px; */
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 10%;
    margin-bottom: 10px;
}

.item {
    width: 160px;
}

.section-two .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-three {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    align-items: center;
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
}

.author {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.section-four {
    display: flex;
    height: 400px;
    align-items: center;
}

.banner {
    height: 180px;
    width: 70%;
    margin: 0 auto;
    background-color: #3882f6;
    border-radius: 12px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner button {
    border: 2px #f9faf8 solid;
    color: #f9faf8;
}